*.sln
*.vsconfig
.idea/*
.vs/*
Build/*
Binaries/*
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Collections
Content/Developers
Intermediate/*
Platforms/*
Plugins/Inventory/Binaries/*
Plugins/Inventory/Intermediate/*
Plugins/Inventory/Resources/*
Saved/*
DerivedDataCache/*